<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eroom.erooja">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.EroojaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.eroom.erooja.app.feature.notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.othersEndedGoal.OthersEndedGoalActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity
            android:name="com.eroom.erooja.app.feature.goalEdit.GoalEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.othersOngoingGoal.OthersOngoingGoalActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity
            android:name="com.eroom.erooja.app.feature.endedGoal.EndedGoalActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity
            android:name="com.eroom.erooja.app.feature.othersPage.OthersPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.endPopUp.EndGoalPopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.dialog.EroojaDialogActivity"
            android:theme="@style/Theme.EroojaDialog" />
        <activity android:name="com.eroom.erooja.app.feature.addGoal.newGoalFrame.NewGoalFinishActivity" />
        <activity
            android:name="com.eroom.erooja.app.feature.filter.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.editgoal.EditGoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.addGoal.newGoalFrame.NewGoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.onboarding.onboardingframe.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.participants_list.ParticipantsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.signup.kakao.KakaoSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eroom.erooja.app.feature.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.tab.TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.goalDetail.GoalDetailActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity
            android:name="com.eroom.erooja.app.feature.otherList.OtherListActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity
            android:name="com.eroom.erooja.app.feature.search.search_detail_page.SearchDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.calendar.AirCalendarDatePickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.eroom.erooja.app.feature.ongoingGoal.OngoingGoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.setting.setting_alarm.AlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.setting.setting_help.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.setting.setting_detail.JobInterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.setting.setting_profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.setting.setting_detail.OpensourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.setting.setting_detail.TOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eroom.erooja.app.feature.addDirectList.addMyTodoListPage.AddMyListActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity
            android:name="com.eroom.erooja.app.feature.joinOtherList.joinTodoListPage.JoinOtherListActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.task.joinOtherList"/>
        <activity android:name="com.eroom.erooja.app.feature.setting.setting_nickname.NicknameChangeActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.eroom.erooja.app.feature.setting.setting_detail.PrivateInfoActivity"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>